html,body
{
  margin:0 auto;
  padding-left:20px;
}


.footer 
{   
position: relative;
top:1600px;
   
    height:100px;
    
 background-color: darkgreen
}
.dateTxt {
  top: 40px;
  position: absolute;
  padding: 20px;
  height: 20px;
  color: white;
}
.n{
  float: left;
  width: 250px;
  height: 500px;
}
.FloatFigure 
{
  padding-right:70px;
  float: right;
  width:1600px;
}
.img
{
 padding-left:15px;
 padding-top: 15px;

}
.modal-body {

  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.btn-primary {
  color: rgba(255, 255, 255, 0.849);
  background-color: #007bff00;
  border-color: #007bff;
}